.download_apple {
  background: url(/images/apple_icon_96.png) bottom center no-repeat;
  width: 120px;
  height: 120px;
  float: left;
  text-align: center;
}

.download_music {
  background: url(/images/music_icon_96.png) bottom center no-repeat;
  width: 120px;
  height: 120px;
  float: left;
  text-align: center;
}
